audio {
  width: 100%;
  margin-top: 10px;
  background-color: #fafafa;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  outline: none;
}

audio::-webkit-media-controls-panel {
  background-color: #fafafa;
  border-radius: 5px;
  display: hidden;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

audio::-webkit-media-controls-current-time-display {
  display: none;
}
audio::-webkit-media-controls-time-remaining-display {
  display: none;
}

audio::-webkit-media-controls-speedometer-button {
  display: none !important;
}

input[type='range'] {
  -webkit-appearance: none;
  width: 100%;
  border-radius: 5px;
  background: #ddd;
  outline: none;
  margin: 10px 0;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #b55ffe;
  cursor: pointer;
  border: none;
  margin-top: -9px; /* formula to center the thumb vertically */
}

input[type='range']::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #b55ffe;
  cursor: pointer;
  border: none;
  margin-top: -9px; /* formula to center the thumb vertically */
}

input[type='range']::-ms-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #b55ffe;
  cursor: pointer;
  border: none;
  margin-top: -9px; /* formula to center the thumb vertically */
}

input[type='range']::-webkit-slider-runnable-track {
  height: 2px;
  background: #37474f;
  border-radius: 1px;
  border: none;
}

input[type='range']::-moz-range-track {
  height: 2px;
  background: #37474f;
  border-radius: 1px;
  border: none;
}

input[type='range']::-ms-track {
  height: 2px;
  background: #37474f;
  border-radius: 1px;
  border: none;
}
