@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0;
  font-family: 'Inter';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.shadow-right {
  box-shadow: 2px 3px 7px 0 rgba(0, 0, 0, 0.15);
}
@keyframes horizontal-shaking {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.animate-horizontal-shaking {
  animation-name: horizontal-shaking;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

body > iframe {
  display: none;
}

.p-inputtext {
  border-radius: 0.5rem !important;
  border-width: 0px !important;
  background-color: #fff !important;
  filter: drop-shadow(0 0 #0000);
}

.p-scrollpanel-bar {
  background-color: #b55ffe !important;
  opacity: 0.2 !important;
  /* border-radius: 24px !important; */
}

.p-toast .p-toast-message {
  /* border-radius: 0.5rem;
  overflow: hidden; */
  box-shadow: 0 0 #0000 !important;
  /* margin-bottom: 0px !important; */
  padding: 0.4rem !important;
  /* padding-top: 4px !important;
  padding-bottom: 4px !important;
  padding-left: 4px !important;
  padding-right: 4px !important; */
}

.p-component {
  font-family: Nunito, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
}

.p-toast .p-toast-message.p-toast-message-error {
  border-radius: 24px !important;
}
.p-toast .p-toast-message.p-toast-message-success {
  border-radius: 24px !important;
}

.p-toast .p-toast-message .p-toast-message-content {
  flex: 1 1 0% !important;
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.p-toast-message-icon {
  scale: 1.3;
}

.p-toast-summary {
  width: fit-content !important;
  font-family: Nunito, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol' !important;
}
.p-toast-detail {
  width: fit-content !important;
  font-family: Nunito, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol' !important;
}

.p-toast-message-text {
  flex: 1 1 0% !important;
  display: flex !important;
  flex-direction: column !important;
}

.p-toast .p-toast-message .p-toast-message-content .p-toast-detail {
  margin: 0px !important;
}
