@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0;
  font-family: 'Inter';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.shadow-right {
  box-shadow: 2px 3px 7px 0 rgba(0, 0, 0, 0.15);
}
@keyframes horizontal-shaking {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.animate-horizontal-shaking {
  animation-name: horizontal-shaking;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

body > iframe {
  display: none;
}

.p-inputtext {
  border-radius: 0.5rem !important;
  border-width: 0px !important;
  background-color: #fff !important;
  filter: drop-shadow(0 0 #0000);
}

.hoo {
  clip-path: polygon(75% 25%, 75% 75%, 44.25% 50%);
  background-color: #000000;
  /* border-radius: 24px; */
}
